.GitHubCOM {
    width: 38rem;
    position: relative;
}
.SearchFieldCommon {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 3rem;
    display: flex;
    justify-content: center;

}
.SearchField {
    position: relative;
    top: 0.7rem;
    width: 20rem ;
    height: 1.3rem;
    border-radius: 0.2rem;
    border: 1px solid rgba(100, 100, 100, 0.2);
    padding: 0.3rem;
    outline:none;
}
.RenderRepositoriesCommon {
    position: absolute;
    left: 0;
    right: 0;
    top: 3rem;

    padding: 3rem 1rem 1rem;

}

.RepositoryItemCommon {
    position: relative;
    height: 1.5rem;
    font-family: Calibri;
}

.PosAbs {
    position: absolute;
    top: 0;
}

.PosRelative {
    position: relative;
}

.RepositoryItemName,
.RepositoryItemNameHeader {
    left: 1rem;
    max-width: 10rem;
    overflow: hidden; /*все что длиннее - обрезаем*/
    white-space: nowrap; /*отмена переноса тектса*/
}

.RepositoryItemStars,
.RepositoryItemStarsHeader {
    left: 15rem;
}

.RepositoryItemLastCommit,
.RepositoryItemLastCommitHeader {
    left: 20rem;

}
.RepositoryItemLastCommitHeader {
    width: 10rem;
}

.RepositoryItemLink,
.RepositoryItemLinkHeader {
    left: 28rem;
    width: 10rem;

}

.RepositoryItemHeaderCommon {
    font-size: 0.9rem;
    font-weight: bold;
    top: 0.8rem;
    color: maroon;
}

.PaginationCommon {
    position: absolute;
    top: 22rem;
}
.PIC { /*общий стиль элемента пагинации*/
    display: inline-block;
    cursor: pointer;
    margin: 0.5rem;
    transition: 0.2s ease-in-out;
    padding: 1rem;
    border-radius: 0.5rem;
}
.PaginationItemCurrent { /*текущая страница пагинации*/
    background-color: darkcyan;
    opacity: 1 ;
}
.PaginationItem { /*остальные страницы пагинации*/
    background-color: aqua ;
    opacity: 0.7 ;

}

.PaginationItem:hover {
    transform: scale(1.2);
    opacity: 1 ;

}

.Repositoryid {
  left: -0.5rem;
}

.NotFoundText {
    position: absolute;
    top:10rem;
    left:40%;
    color: maroon;
    font-size: 1rem;
}
.NotFoundImg {
    position: absolute;
    top:5rem;
    left:45%;
    width: 4rem;
}