.ToCenter {
    display: flex;
    justify-content: center;
}
.logoutList {
    left: 0.5rem;
    top: 0.2rem;

}
.logoutCard {
    left: 0rem;
    top: 0.2rem;

}
.logOutCommon {
    width: 3rem;
    position: absolute;
    z-index: 100;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.logOutCommon:hover {
    transform: scale(1.1);
}
.ButtonEnterExtToken {
    right: -0.4rem;
    top: 9.2rem;
}
.ButtonEnterEtxList {
    right: 3.85rem;
    top: 0.9rem;

}

.ButtonEnterExt {
    z-index: 100;
    position: absolute;
    width: 3rem;
    height: 1.5rem;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgba(100, 100, 100, 0.2);
    border-radius: 0.2rem;

}

.ButtonEnterInt {
    position: absolute;
    left: 0.4rem;
    top: 0.2rem;
    cursor: pointer;
}
.Disabled {
    pointer-events: none;
    opacity: 0.4;
}
.ButtonEnterExt:hover {
    background-color: rgb(230, 230, 230);
    color: green;
}