.ToCenter {
    display: flex;
    justify-content: center;
}

.logOutCommon {
    width: 3rem;
    position: absolute;
    z-index: 100;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    left: 21.8rem;
    top: 0.7rem;
}
.logOutCommon:hover {
    transform: scale(1.1);
}